name: Go

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.20'

      - name: Install Dependencies
        run: go mod download
        working-directory: ./utilities/file-server

      - name: Build
        run: go build -v -o fileserver main.go
        working-directory: ./utilities/file-server

      - name: Test
        run: go test -v ./...
        working-directory: ./utilities/file-server
        continue-on-error: true # Allows the workflow to continue if no tests are found

      - name: Upload Binary Artifact
        uses: actions/upload-artifact@v4
        with:
          name: fileserver
          path: utilities/file-server/fileserver
          retention-days: 7
